<% include partials/header %>

<div class="flex-container">
    <div class="container">
        <h1>Save them from the stars</h1>
        <h2>JOIN US</h2>
        
        <div class="info">
            <p>Enter your email to join <strong><%= count %></strong>
            others on a mission.</p>
            <p>Learn about this mission by joining us.</p>
        </div>
        
        <form method="POST" action='/register'>
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>

<% include partials/footer %>