html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Manjari', times;
}

body {
    background: #01024e;
}

.welcome-header,
.github-info,
.repo-info {
    color: #E3E7E0;
}

.github-info, 
.repo-info {
    background: #ff6464;
}

.welcome-header {
    font-size: 3.8rem;
    font-weight: 100;
    text-align: center;
}

.general-container {
    display: flex;
    justify-content: space-around;
}

.github-info {
    width: 30%;
    height: auto;
    margin: 0px 5px;
    padding: 20px 10px;
    border-radius: 15px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.repos-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.repo-info {
    width: 18%;
    margin: 20px 10px;
    padding: 4px 2px;
    border-radius: 15px;
    overflow-wrap: break-word;
    /* text-align: center; */
}

.repo-name {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
    text-align: center;
}

/* copy what's inside for the other file */
.repo-language {
    margin-left: 5px;
    font-size: 1.25rem;
    letter-spacing: .7px;
}

#whole-bar,
#percentage-bar {
    border-radius: 10px;
}

#whole-bar {
    width: 90%;
    background: #ffb1b1;
}
#percentage-bar {
    width: 10%;
    height: 15px;
    font-size: .8rem;
    background: #a343ff;
}