<h1>This is a home page</h1>

<img src="https://www.lifewire.com/thmb/ziAvCbAufGRWptP95uXW0c4G1aA=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/illuminated-server-room-panel-660495303-5a24933d4e46ba001a771cd1.jpg">