<% include partials/header %>

<h1>You passed in <%= endpoint %> :) <3</h1>

<% if(endpoint.toLowerCase() === "rusty"){ %>
    <p> Good choice! rusty is the best </p>
<% } else { %>
    <p>WRONG! You should've said rusty </p>
<% } %>

<h2>You passed in <%= text %> :) <3</h2>

<% include partials/footer %>