<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <!-- SUPER IMPORTANT '/' IS NEED IN FRONT OF THE HREF BECAUSE I DON'T KNOW -->
    <link rel="stylesheet" href="/welcome.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>  
    <h1>Welcome <%= github_name %>. Here is some info about your account</h1>
    
    <div class="github-info">
        Number of repos: <%= num_repos %>
    </div>

    <div class="github-info">
        Created: <%= created_date %>
    </div>

    <div class="github-info">
        Last updated: <%= last_updated %>
    </div>
    
    <ul class="repos">
        <!-- Repo stats added here -->
    </ul>

    <script src="/welcome.js"></script>
</body>
</html>