<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome <%= github_name %>. Here is some info about your account</h1>

    <div class="github-info">
        Number of repos: <%= num_repos %>
    </div>

    <div class="github-info">
        Created: <%= created_date %>
    </div>

    <div class="github-info">
        Last updated: <%= last_updated %>
    </div>
    
</body>
</html>